header {
  background-color: black;
  color: white;
  font-size: large;
}

nav {
  background-color: firebrick;
  color: gray;
}

h3 {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  border-top: 1px solid black;
}

.events {
  border: 1px solid black;
  background-color: lightgray;
  padding: 5px;
  border-radius: 10px;
  margin: 4px;
  
}

#int {
  background-color: black;
  color: white;
}

a:link {
  text-decoration: none;
  color: gray
}



h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}