<!-- ALL CODE IS TAKEN FROM IN CLASS CODE AND MODIFIED -->
   <!doctype html>
<html lang="en">
  <head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
   <!-- <link href="css/styles.css" rel="stylesheet" type="text/css"> -->
   
   <script src="https://unpkg.com/vue@next"></script>
   <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

   <title>Book</title>
  </head>
  <body>

        <header class="row">
        </header>
          
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
              <li class="nav-item active">
                <a  href="index.html">About Me</a>
              </li>
              <li class="nav-item">
                <a  href="books.html">Books</a>
              </li>
              <li class="nav-item">
                <a  href="images.html">Images</a>
              </li>
              <li class="nav-item">
              </li>
            </ul>
          </div>
        </nav>
  
      
    <main>
      <div id="bookApp" class="container">
        <h1>Books</h1>
             <table class="table">
                <thead>
                <tr> 
                    <th> Title </th>
                    <th> Author </th>
                    <th> Year Published </th>
                    <th> Publisher </th> 
                    <th> Page Count </th> 
                    <th> MSRP </th>   
                
                </tr>
                </thead>

                <tbody>
                <tr v-for="book in books">
                    <td> {{ book.Title }} </td>
                    <td> {{ book.Author }} </td>
                    <td> {{ book.Year_Published }} </td>
                    <td> {{ book.Publisher }} </td>
                    <td> {{ book.Pages }} </td>
                    <td> {{ book.MSRP }} </td>
                    <td><button type="button" v-on:click="handleEditBook(book)" class="btn btn-outline-secondary btn-sm">Edit</button></td>
                    <td><button type="button" v-on:click="postDeleteBook(book)" class="btn btn-outline-secondary btn-sm">Delete</button></td>
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <td class='text-center' colspan='6'>Information provided by https://www.publishersweekly.com/pw/by-topic/childrens/childrens-book-news/article/60631-a-complete-list-of-children-s-books-and-authors-at-wi9.html</td>
                    </tr>
                </tfoot>
            </table>
          
          <h3>{{ selectedBook === null ? "Add " : "Edit " }} Book</h3>
          <form v-on:submit="postBook">
              <div class="mb-3">
                <label for="Title" class="form-label">Title</label>
                <input type="text" v-model="bookForm.Title"
                 class="form-control" id="Title">
              </div>
              <div class="mb-3">
                <label for="Author" class="form-label">Author</label>
                <input type="text" v-model="bookForm.Author" class="form-control" id="Author">
              </div>
              <div class="mb-3">
                <label for="Year_Published" class="form-label">Year_Published</label>
                <input type="text" v-model="bookForm.Year_Published" class="form-control" id="Year_Published">
              </div>
              <div class="mb-3">
                <label for="Publisher" class="form-label">Publisher</label>
                <input type="text" v-model="bookForm.Publisher" class="form-control" id="Publisher">
              </div>
              <div class="mb-3">
                <label for="Pages" class="form-label">Pages</label>
                <input type="text" v-model="bookForm.Pages" class="form-control" id="Pages">
              </div>
              <div class="mb-3">
                <label for="MSRP" class="form-label">MSRP</label>
                <input type="text" v-model="bookForm.MSRP" class="form-control" id="MSRP">
              </div>
              <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add " : "Edit " }} Book</button>
              <button type="button" class="btn btn-outline-secondary" 
                 v-if="selectedBook"
                 v-on:click="handleResetEdit">Cancel Edit</button>
            </form>

      </div>        
    </main>
      
    <footer class="row">
       MePage | Phone: 800-555-1234 | 9278 New Road, Kilcoole, Waterford 93027
    </footer>
     <!-- Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
     <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
 
     <script src="js/books.js"></script>

  </body>
</html>